<div class="box">
      <h1>add new product </h1>
      <form action="/index/add/product" method="post">
            <input type="text" placeholder="Product" name="Product"/>
            <input type="text" placeholder="Price" name="Price"/>
            <input type="text" placeholder="ctgID" name="ctgID"/>
            <input type="submit" value="Add" class="button"></input>
      </form>
</div>