<div class="box">
      <h1>remove product </h1>
      <form action="/index/addtobox" method="post">
            <input type="text" placeholder="ID" name="idd"/>
            <input type="submit" value="Add" class="button"></input>
      </form>
</div>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    {{#each boxlist}}
      <tr>
        <td>{{name}}</td>
        <td>{{price}}$</td>
        <td>{{_id}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>