<div class="box">
      <h1>remove product </h1>
      <form action="/index/update/product" method="post">
            <input type="text" placeholder="ID" name="ID"/><br><br><br>
            <input type="text" placeholder="name" name="name"/>
            <input type="text" placeholder="price" name="price"/>
            <input type="submit" value="Add" class="button"></input>
      </form>
</div>